@import '../styles/variables';

.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;

  .main {
    padding: $offset-md;
    width: calc(100% - #{$sidebar_xl});
  }

  @media (max-width: 1200px) {
    .main {
      width: calc(100% - #{$sidebar_sm});
    }
  }
}

