@import '../../../styles/variables';

app-sidebar {
  min-height: calc(100vh - #{$header-height});
}

.sidebar {
  min-width: $sidebar_xl;
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
  z-index: 3;
  transition: all .35s;

  @media (max-width: 1200px) {
    min-width: $sidebar_sm;
  }
}
